{% extends "base.html" %}
{% block title %}服務管理{% endblock %}
{% block content %}
{% if (current_user.member_id != None and current_user.member_id != "" and current_user.auth == "2") or current_user.auth == "3" %}
<div class="row align-items-center justify-content-between">
    <div class="col">
        <h1>服務管理</h1>
    </div>
    <div class="col d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#serviceModal"
            data-bs-whatever="新增">新增</button>
        <!-- Modal -->
        <div class="modal fade" id="serviceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="serviceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form id="serviceForm" method="POST" action="/management/service/create">
                        <div class="modal-header">
                            <h5 class="modal-title" id="serviceModalLabel">新增服務</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="onclick_close_modal()"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">服務名稱</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="location">服務地點</label>
                                            <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="allDayCheckbox" name="allDayCheckbox" onchange="checkAllDay()">
                                                <label class="form-check-label" for="allDayCheckbox">整天</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="service_hours">服務時數</label>
                                                <input type="number" class="form-control" id="service_hours" name="service_hours" placeholder="Enter service hours" min="0" step="0.1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="start_date">開始日期</label>
                                                <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Enter start date" required onchange="onchange_start_date()">
                                            </div>
                                        </div>
                                        <div class="col" id="start_time_col">
                                            <div class="form-group">
                                                <label for="start_time">開始時間</label>
                                                <input type="time" class="form-control" id="start_time" name="start_time" placeholder="Enter start time">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="end_date">結束日期</label>
                                                <input type="date" class="form-control" id="end_date" name="end_date" placeholder="Enter end date" required onchange="onchange_end_date()">
                                            </div>
                                        </div>
                                        <div class="col" id="end_time_col">
                                            <div class="form-group">
                                                <label for="end_time">結束時間</label>
                                                <input type="time" class="form-control" id="end_time" name="end_time" placeholder="Enter end time">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="description">服務內容</label>
                                                    <textarea class="form-control" id="description" name="description" placeholder="Enter description" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="participants">參與人員</label>
                                                <table class="table table-bordered text-center" id="participants"
                                                    name="participants">
                                                    <thead class="table-secondary">
                                                        <tr class="table-light">
                                                            <th scope="col" colspan="5">
                                                                <div class="row">
                                                                    <div class="col-9">
                                                                        <input class="form-control" list="datalistOptions"
                                                                            id="participantDataList"
                                                                            placeholder="Select the member...">
                                                                        <datalist id="datalistOptions">
                                                                            {% for member in members %}
                                                                            <option
                                                                                value="{{ member.id }}_{{ member.name }}_({{ member.number_of_periods }})">
                                                                                {% endfor %}
                                                                        </datalist>
                                                                    </div>
                                                                    <div class="col-3">
                                                                        <button type="button" class="btn btn-success" id="addParticipant_btn" onclick="addParticipant()">新增</button>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">團員ID</th>
                                                            <th scope="col">姓名</th>
                                                            <th scope="col">期數</th>
                                                            <th scope="col">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="participantsList">
                                                    </tbody>
                                                </table>
                                                <input type="hidden" class="form-control" id="participantList"
                                                    name="participantList" placeholder="Enter participant List">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onclick_close_modal()">取消</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover text-center">
    <thead class="table-secondary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">服務名稱</th>
            <th scope="col">開始日期/時間</th>
            <th scope="col">結束日期/時間</th>
            <th scope="col">時數</th>
            <th scope="col">地點</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for i, item in services %}
        <tr class="{% if item.allowed == '0' %}table-danger{% elif item.allowed == '1' %}table-success{% endif %}">
            <th scope="row">{{ i }}</th>
            <td id="name_{{ item.id }}">{{ item.name }}</td>
            <td id="startDateTime_{{ item.id }}">{{ item.start_date }}  {% if item.start_time == None %}{% else %}{{ item.start_time }}{% endif %}</td>
            <td id="endDateTime_{{ item.id }}">{{ item.end_date }} {% if item.end_time == None %}{% else %}{{ item.end_time }}{% endif %}</td>
            <td id="service_hours_{{ item.id }}">{{ item.service_hours }}</td>
            <td id="location_{{ item.id }}">{{ item.location }}</td>
            <td>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <a href="/management/service/{{ item.id }}"><button type="button" class="btn btn-primary">詳細資訊</button></a>
                    </div>
                    <div class="col-2">
                        <form method="post" action="/management/service/delete" id="deleteForm">
                            <input type="hidden" class="form-control" id="delete_id" name="delete_id" placeholder="Enter service id" value="{{ item.id }}">
                            <button type="button" class="btn btn-danger" onclick="deleteService({{item.id}})">
                                <i class='fa-solid fa-trash-can'></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-5">
                        {% if item.allowed == "0": %}
                        <form method="post" action="/management/service/allowed" id="allowedForm">
                            <input type="hidden" class="form-control" id="allowed_id" name="allowed_id" placeholder="Enter service id" value="{{ item.id }}">
                            <button type="button" class="btn btn-warning" onclick="allowedService({{item.id}})">允許新增紀錄</button>
                        </form>
                        {% endif%}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    var _participantsList = [];

    function addParticipant() {
        if (document.getElementById("participantDataList").value == "") {
            alert("請選擇人員");
            return;
        }

        var member = document.getElementById("participantDataList").value.split("_");
        var member_id = member[0].replace(/\s*/g,"");
        var member_name = member[1].replace(/\s*/g,"");
        var member_numberOfPeriods = member[2].replace("(", "").replace(")", "").replace(/\s*/g,"");

        for (var i = 0; i < _participantsList.length; i++) {
            if (_participantsList[i].mid == member_id && _participantsList[i].name == member_name && _participantsList[i].num == member_numberOfPeriods) {
                alert("已新增過此人員");
                document.getElementById("participantDataList").value = "";
                return;
            }
        }
        _participantsList.push({ mid: member_id, name: member_name, num: member_numberOfPeriods });
        getMemberToField("participantList", _participantsList);

        addRowForTable("participantsList", member_id, member_name, member_numberOfPeriods, "participant");
        document.getElementById("participantDataList").value = "";
    }

    // 不可刪除，因為有使用到該function的function在shard.js
    function deleteParticipant(mid, name, num) {
        _participantsList = _participantsList.filter((value) => {
            return (value.mid != mid || value.name != name || value.num != num)
        });
        getMemberToField("participantList", _participantsList);
        // 刪除所有的row
        deleteAllRowForTable("participantsList")
        // 重新新增row
        for (var i = 0; i < _participantsList.length; i++) {
            addRowForTable("participantsList", _participantsList[i].mid, _participantsList[i].name, _participantsList[i].num, "participant");
        }
    }

    function checkAllDay() {
        var allDayCheckbox = document.getElementById("allDayCheckbox").checked;
        if (allDayCheckbox) {
            document.getElementById("start_time_col").hidden = true;
            document.getElementById("end_time_col").hidden = true;
            if (document.getElementById("start_date").value == "" && document.getElementById("end_date").value == "") {
                document.getElementById("start_date").value = getToday();
                document.getElementById("end_date").value = getToday();
            } else if (document.getElementById("start_date").value == "" && document.getElementById("end_date").value != "") {
                document.getElementById("start_date").value = document.getElementById("end_date").value;
            } else if (document.getElementById("start_date").value != "" && document.getElementById("end_date").value == "") {
                document.getElementById("end_date").value = document.getElementById("start_date").value;
            }
            get_service_hours_for_allDay();
        } else {
            document.getElementById("start_time_col").hidden = false;
            document.getElementById("end_time_col").hidden = false;
        }
    }

    function get_service_hours_for_allDay() {
        var dayDiff = getDaysDifference("start_date", "end_date");
        document.getElementById("service_hours").value = (dayDiff + 1) * 8;
    }

    function onclick_close_modal() {
        clearModal('serviceModal', 'serviceForm')
        clearTable()
        clearForm()
    }

    function clearTable() {
        _participantsList = [];
        getMemberToField("participantList", _participantsList);
        deleteAllRowForTable("participantsList");
    }

    function clearForm() {
        document.getElementById("service_hours").value = "";
        document.getElementById("description").value = "";
    }

    function onchange_start_date() {
        start_date_field_id = 'start_date'
        end_date_field_id = 'end_date'
        delete_date_field_id = 'start_date'
        alert_text = '開始日期不可晚於結束日期'
        checkDate(start_date_field_id, end_date_field_id, delete_date_field_id, alert_text)
        checkAllDay()
    }

    function onchange_end_date() {
        start_date_field_id = 'start_date'
        end_date_field_id = 'end_date'
        delete_date_field_id = 'end_date'
        alert_text = '結束日期不可早於開始日期'
        checkDate(start_date_field_id, end_date_field_id, delete_date_field_id, alert_text)
        checkAllDay()
    }

    function deleteService(activity_id) {
        if (confirm('你確定要刪除此筆活動紀錄嗎?')) {
            document.getElementById("delete_id").value = activity_id;
            document.getElementById("deleteForm").submit();
        }
    }

    function allowedService(activity_id) {
        if (confirm('你確定要允許此筆活動紀錄新增嗎?')) {
            document.getElementById("allowed_id").value = activity_id;
            document.getElementById("allowedForm").submit();
        }
    }
</script>
{% else %}
<script>
    alert("你沒有權限!")
    window.location.href = "/";
</script>
{% endif %}
{% endblock %}
