{% extends "base.html" %}
{% block title %}進程考驗{% endblock %}
{% block content %}
{% if current_user.member_id != None and current_user.member_id != "" and current_user.auth != "0" %}
<div class="row align-items-center justify-content-center">
    <div class="col"></div>
    <div class="col">
        <h1 align="center">進程考驗</h1>
    </div>
    <div class="col d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#advancementModal"
            data-bs-whatever="新增">新增</button>
        <!-- Modal -->
        <div class="modal fade" id="advancementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="advancementModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="advancementForm" method="POST" action="/user/advancement/create">
                        <div class="modal-header">
                            <h5 class="modal-title" id="advancementModalLabel">新增進程考驗通過</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearModal('advancementModal', 'advancementForm')"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="memberDataList" class="form-label">團員ID、姓名</label>
                                <input type="hidden" class="form-control" id="member_id" name="member_id" placeholder="Enter member id" value="{{ current_user.member_id }}">
                                <input type="text"  class="form-control" id="memberDataList" name="memberDataList" placeholder="Select the member" value="{{ current_user.member_id }} ( {{ current_user.name }} )" readonly>
                            </div>
                            <div class="form-group">
                                <label for="advancement_name">進程考驗名稱</label>
                                <select class="form-select" aria-label="Select advancement name" id="advancement_name" name="advancement_name" required>
                                    <option value="初級" selected>初級</option>
                                    <option value="中級">中級</option>
                                    <option value="高級">高級</option>
                                    <option value="獅級">獅級</option>
                                    <option value="長城">長城</option>
                                    <option value="國花">國花</option>
                                    <option value="見習羅浮">見習羅浮</option>
                                    <option value="授銜羅浮">授銜羅浮</option>
                                    <option value="服務羅浮">服務羅浮</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pass_date">通過日期</label>
                                <input type="date" class="form-control" id="pass_date" name="pass_date" placeholder="Enter pass date" onchange="checkYear()" required>
                            </div>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearModal('advancementModal', 'advancementForm')">取消</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table table-hover text-center">
    <caption>此表僅供參考，實際請依照團長說明為原則，且需提出各項之對應佐證</caption>
    <thead class="table-secondary">
        <tr>
            <th scope="col">#</th>
            <th scope="col">進程考驗名稱</th>
            <th scope="col">通過日期</th>
        </tr>
    </thead>
    <tbody>
        {% for i, item in advancements %}
        <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td id="promotion_name_{{ i }}">{{ item.name }}</td>
            <td id="promotion_date_{{ i }}">{{ item.pass_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    setTodayAsMaxDate("pass_date");

    function checkYear() {
        var member_id = document.getElementById("member_id").value;
        var join_year = member_id.substring(0, 4);
        var promotion_date = document.getElementById("pass_date").value;
        var promotion_year = promotion_date.substring(0, 4);
        if (promotion_year < join_year) {
            alert("通過日期不可早於入團日期");
            document.getElementById("pass_date").value = getToday();
        }
    }
</script>
{% else %}
    <Script>
        alert("尚未驗證團員身份，請聯繫團長為您驗證身份");
        window.location.href = "/";
    </Script>
{% endif %}
{% endblock %}