{% extends "base.html" %}
{% block title %}關於{% endblock %}
{% block content %}
<form method="POST" action="/signup">
  <h3 align="center">About</h3>
  <h2>聯絡我們</h2>
  <div class="card mt-3 mb-3" style="width: auto">
    <div class="card-body">
      <h5 class="card-title">如果您對於此系統有任何建議或發現任何錯誤歡迎聯絡!</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Update data:2023.08.19</h6> -->
      <p class="card-text">電子信箱: <a href="">u096169@gmail.com</a></p>
      <p class="card-text">Facebook: <a href="https://www.facebook.com/wun.jhih.lee">wun-jhih-lee</a></p>
      <p class="card-text">GitHub: <a href="https://github.com/AndyLee0310">AndyLee</a></p>
    </div>
  </div>
  <h2>版本資訊</h2>
  <div class="card mt-3 mb-3" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">v1.1.1</h5>
      <h6 class="card-subtitle mb-2 text-muted">Update data:2023.09.05</h6>
      <p class="card-text">1. 完成整個網站系統的大致架構</p>
      <p class="card-text">2. 管理員身份可操作之相關已完成</p>
      <p class="card-text">3. 非管理員身份暫時僅可觀看與其本身相關之紀錄</p>
    </div>
  </div>
  <div class="card mt-3 mb-3" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">v1.1.7</h5>
      <h6 class="card-subtitle mb-2 text-muted">Update data:2023.09.11</h6>
      <p class="card-text">1. 非管理員身分可新增部分紀錄</p>
      <p class="card-text">2. 管理員身份部分介面修正</p>
    </div>
  </div>
</form>
{% endblock %}